*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background-color: black;
	font-size: 16px;
	line-height: 1.5;
	font-family: poppins;
}
.container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container > *{
	padding: 20px;
}
.nav-area{
	background: #262626;
}
.nav-area nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.nav-area ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	order: 1;
	width: 100%;
	margin-top: 15px;
}
.nav-area nav a{
	color: #fff;
}
.logo{
	color: #fff;
}
.nav-area ul li:not(:last-child){
	padding-right: 15px;
}
.banner-area{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	min-height: 360px;
	background-image: url(he1.jpg);
	background-image: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	color: black;
}
.banner-area div{
	max-width: 500px;
}
.banner-area h1{
	margin-bottom: 20px;
	font-size: 28p;
}
.banner-area a{
	background: crimson;
	display: inline-block;
	margin-top: 7%;
	padding: 15px 40px;
	border-radius: 50px;
	color:#fff;
}
@media screen and (min-width: 550px){
	.nav-area ul{
		width: auto;
		margin-top: 0;
	}
}
@media screen and (min-width:768px){
	body{
		font-size: 18px;
	}
	.banner-area{
		padding-left: 60px;
	}
	.banner-area h1{
		font-size: 50px;
	}
	.nav-area{
		padding: 20px 80px;
	}

}
.wrapper{
	display: flex;
}
.left{
	flex: 2;
	width: 60%;
	padding: 5%;
	color: #fff;
	overflow-y: auto;
}
.right{
	flex: 1;
	width: 30%;
	padding: 5%;
	color: #fff;
	background-color: ;
	overflow-y: auto;
}
@media only screen and (max-width: 640px){
	.wrapper{
		display: block;
	}
	.left{
		width:100%;
		box-sizing: border-box;
	}
	.right{
		width: 100%;
		box-sizing: border-box;
	}
}
.footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row-wrap;
	padding: 50px;
	color: #fff;
	background-color: #011c39;
}
.footer > *{
	flex: 1 100%;
}
.footer-left{
	margin-right: 1.25em;
	margin-bottom: 2em;
}
.footer-left img{
	width: 50%;
}
h2{
	font-weight: 600;
	font-size: 17px;
}
.footer ul{
	life-style: none;
	padding-left: 0;
}
.footer li{
	line-height: 2em;
}
.footer a{
	text-decoration: none;
}
.footer-right{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row-wrap;
}
.footer-right > *{
	flex: 1 50%;
	margin-right: 1.25em;
}
.box a{
	color: #999;
}
.footer-bottom{
	text-align: center;
	color: #999;
	padding-top: 50px;
}
.footer-left p{
	padding-right: 20%;
	color: #999;
}
.socials a{
	background: #364a62;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
}
.socials a i{
	color: #e7f2f4;
	padding: 10px 12px;
	font-size: 20px;
}


.piccon img:hover {
	transform: scale(1.3);
	z-index: 2;
	display: flex;
	flex-direction: row;
}
.piccon1 img:hover {
	transform: scale(1.3);
	z-index: 2;
	display: flex;
	flex-direction: row;
}
.picco2 img:hover {
	transform: scale(1.3);
	z-index: 2;
	display: flex;
	flex-direction: row;
}
.piccon3 img:hover {
	transform: scale(1.3);
	z-index: 2;
	display: flex;
	flex-direction: row;
}
.piccon4 img:hover {
	transform: scale(1.3);
	z-index: 2;
	display: flex;
	flex-direction: row;
}